parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

extensions:
	jsonRPCExtension: Contributte\JsonRPC\DI\JsonRPCExtension

jsonRPCExtension:
	methodsMapping:
		recipe.create: App\Command\Type\Recipe\CreateCommand
		recipe.get: App\Command\Type\Recipe\GetCommand
		recipe.getAll: App\Command\Type\Recipe\GetAllCommand
		recipe.delete: App\Command\Type\Recipe\DeleteCommand